body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
    margin: 0;
    background-color: #f0f0f0;
}

.containerAtt {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.text{
    font-size: larger;
    font-weight: 700;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.character {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('https://via.placeholder.com/150') no-repeat center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.attribute {
    display: grid;
    grid-template-columns: 65px 145px 75px;
    gap: 10px;
    width: 250px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.attribute > span{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}
.attribute > .bonus{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 92px
}
.attribute button {
    background-color: #73b3f7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.attribute button:hover{
    background-color: #3a94f5;
}
.attribute button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.attribute span {
    font-weight: bold;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin-top: 20px;
    text-align: center;
}

.actions button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #218838;
}

.inputName {
    gap: 10px;
    width: 250px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spPericias {
    padding-top: 50px;
    font-size: larger;
    font-weight: 700;
}

.pericias {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}